
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap'); /* Importacion de la fon Kiwi Maru */
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap'); /* Importacion de la fon Koh Santepheap */

*{
    --smoky-black-1: rgb(44, 43, 41);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Kiwi Maru", serif;
    font-size: 25px;
    letter-spacing: 2px;
}
/* Separador entre secciones */
.sep{
  background-color: #fdfdfd ;
  width: 100%;
  height: 20px;
}

/* -------------------------------------------------------------------------------------------- Index ------------------- */

/* Secciion de slogan */
.slogan{
  position: relative;
  left: 10px;
  top: 30px;
  background-color: #0addaf;
  width: 500px;
  height: 500px;
}


/* Fondo */
.background{
    width: 100%;
    height: 100vh;
  color: aliceblue;
  background-image: url(https://i.pinimg.com/564x/e5/04/45/e50445d1486d2fa151b3f447f4da69e2.jpg);
    background-size: cover;
    background-position: center center;
}

/* Contenedor del nav principal */
.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: transparent;
    width: 100%;
    height: 70px;
    color: #ffffff ;
}

/* Especificaciones en el texto del nav */
.elemento-nav{
    margin: 0 60px;
    font-size: 20px;
    color: #be3144 ;
}





/* CSS reutilizado de us, a excepcion de los botones para hacer reserva y ver menu */
.contenedor-input-ubicacion{
    margin: 30px;
    padding: 15px;
    background-color: #be3144;
    text-align: center;
    cursor: pointer;
}

/* Y el titulo */
.txt-nosotros-container{
  position: relative;
  top: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}


/* Fondo solido, gris oscuro, de fondo */
.nosotros-background{
  display: flex;
  justify-content: center;
  background-color: #303841;
  width: 100%;
  height: 650px;
}

/* Fondo solido, gris claro, de fondo */
.nosotros-container{
  display: flex;
  background-color: #3a4750;
  width: 85%;
  height: 650px;
}

/* Especificaciones del texto en el contenedor */
.txt-nosotros-container{
  width: 50%;
  height: 650px;
  padding: 60px;
}

/* Especificaciones del texto */
.txt-nosotros{
  text-align: justify;
  font-size: 30px;
}



/* ------------------------------------------- Especialidades and menu ------------------- */

/* Background de la seccion */


/* Especificaciones en la font del titulo */
.especialidades-titulo{
    text-align: center;
    font-size: 50px;
    color: #000000;
    padding: 50px 50px 0 50px;
}

/* Especificaciones en la font del titulo + aumento de padding por el nav */
.especialidades-titulo-principal{
    text-align: center;
    font-size: 50px;
    color: #ff0000;
    padding: 100px 50px 0 50px;
}

/*SECCION  DEL MENU */
.menu-container{
  width: 100%;
  height: 1000px;
  background-color: rgb(14, 68, 85);  
  flex-direction: column;  

}
.product-container{
  background-color: #be3144;
  width: 100%;
  height: 100%;
display: flex;
flex-direction: row;

}

.info-container{
  background-color: #ffffff;
  width: 100%;
  height: 50%;
  border: 2px black solid;
  display: flex;
align-items: center;
  flex-direction:column;
  color: #000000;
}

.img-platillos{
  width: 100%;
  height: 80%;

}
.info-platillos-container{
  width: 70%;
  size: 20px;
text-align: center;
text-size-adjust: 4px;
}




/* -------------------------------------------------------------------------------------------- Reservaciones ------------------- */
.reservaciones-contenedor{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color:#5a1a1a;
  border-radius: 10px;
  
}
.folio-con{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color:#ffffff;
  border-radius: 10px;
  
}

.center{
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.style-reservaciones{
  font-size: 20px;
}

.inputs-config{
  justify-content: center;
  width: 100%;
}

.inputs-config-part1{
  color: #000000;
}

.button-config{
  display: flex;
  justify-content: center;
  color: #000000;
}

.folio-txt-red{
  color: #ffffff;
  
}

.folio-txt-black{
  color: #ffffffca;
}
/* Especificaciones para la font del titulo, con mayor padding al ser la primera y, por consiguiente,  tener el nav */
.reservaciones-titulos{
    text-align: center;
    font-size: 50px;
    color: #000000;
}

/* El resto de titulos reutilizan el css "sp-tit" de especialidades */
.txt-reservaciones{
    text-align: center;
    font-size: 30px;
    color: #000000;
    padding: 15px;
}

/* Especificaciones en los input para crear reservaciones */
.tamaño-input-reservaciones{
    width: 400px;
    height: 50px;
    margin: 10px;
}

.contenedor-input-reservaciones {
  text-align: center; /* El texto dentro del contenedor estará centrado horizontalmente */
  margin: 30px; /* Margen exterior de 30px alrededor del contenedor */
  padding: 15px; /* Relleno interno de 15px dentro del contenedor */
  width: 300px; /* Ancho del contenedor */
  background-color: #be3144; /* Color de fondo del contenedor */
  text-align: center; /* Texto dentro del contenedor estará centrado horizontalmente */
  cursor: pointer; /* El cursor cambiará a un puntero al pasar sobre el contenedor */
}

.btn-reservaciones {
  background-color: rgba(229, 226, 142, 0.782); /* Color de fondo del botón */
  color: black; /* Color del texto del botón */
  position: relative; /* Posición relativa para alinear elementos secundarios */
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  max-width: max-content; /* El ancho máximo será el tamaño del contenido */
  border: 2px solid rgba(0, 0, 0, 0.519); /* Borde de 2px sólido con color semi-transparente */
  padding: 12px 45px; /* Relleno de 12px arriba y abajo, 45px a la izquierda y derecha */
}

.reservaciones-izquierda .texto {
  color: #c6e779; /* Color del texto dentro del elemento con la clase "texto" dentro de ".reservaciones-izquierda" */
  line-height: 3; /* Altura de línea 3 veces el tamaño de la fuente */
}

.reservaciones-izquierda,
.reservaciones-derecha {
  padding: 40px 20px 30px; /* Relleno de 40px arriba, 20px izquierda y derecha, 30px abajo */
}

.reservaciones-derecha {
  background-repeat: repeat; /* Fondo repetido en la dirección especificada */
  background-position: top left; /* Posición del fondo en la esquina superior izquierda */
}

.reservaciones-izquierda-h2 {
  color: #0addaf; /* Color del texto del elemento h2 con la clase "reservaciones-izquierda-h2" */
}
.reservaciones-izquierda-telefono{
  color: purple;
}




/* -------------------------------------------------------------------------------------------- Extras ------------------- */


/* Contenedor final */
.footer{
  background-color:  #000000;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
/* separador de footer*/
.redes-footer, .horario-footer, .contactos-footer{
max-width: 33.333333%;
}

.container-footer{
display: flex;
justify-content: space-between;
max-width: 100%;
}
/* Logo footer imagen*/
.logo-footer{
width: 100px;
}
/* Horario footer */
.horario-footer .hours-column{
display: inline-block;
}
.horario-footer .hours-column span{
display: block;
}
.pb-3{
padding-bottom: 1rem !important;
}

.align-center{
text-align: center;
}

.col-xl-4{
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
}

.display-5{
font-family: 'Cormorant Upright', serif;
font-size: 1.8rem;
}

/* dias */
.horario-footer .days-column{
display: inline-block;
}

.col-5{
-ms-flex: 0 0 41.666667%;
flex: 0 0 41.666667%;
max-width: 42.666667%;
}

.mbr-bold{
font-weight: 700;
}

.align-right{
text-align: right;
}

.display-7{
font-family: 'Cormorant Upright', serif;
font-size: 1.3rem;
}
/* horas */
.horario-footer .hours-column{
display: inline-block;
}

.align-left{
text-align: left;
}


/* PRUEBAS*/
